<div class="component-container">
    <div class="image-overlay"></div>


    <div>
        <img class="cohete"
            src="https://firebasestorage.googleapis.com/v0/b/productos-4a18e.appspot.com/o/vista%2Fbanner%2Frocket-148214.png?alt=media&token=8b68cc8d-42d2-493d-874c-008b9aa429de"
            alt="">
    </div>
    <div class="firebase_text">
        <h1>¿Que es Firebase?</h1>
        <div class="firebaseDescription">
            <p>Firebase es la plataforma que respalda tu experiencia en línea. Diseñada para brindarte un rendimiento
                excepcional y una gestión eficiente, Firebase es el motor detrás de tus sitios web de alta calidad. Aquí
                tienes algunas de sus características principales:</p>
        </div>
        <div class="firebaseCaracterist1">
            <ul>
                <li><strong>Base de Datos en Tiempo Real:</strong> Firebase proporciona una base de datos en tiempo real
                    que
                    garantiza que tus datos siempre estén actualizados al instante.</li>
                <li><strong>Almacenamiento en la Nube:</strong> El almacenamiento en la nube de Firebase te permite
                    gestionar y almacenar archivos, imágenes y otros recursos de tu sitio web de manera eficiente y
                    segura.</li>
                <li><strong>Autenticación de Usuarios:</strong> Firebase ofrece un sólido sistema de autenticación de
                    usuarios, lo que garantiza que tus clientes tengan una experiencia segura y personalizada en tus
                    sitios
                    web.</li>
            </ul>
        </div>
        <div class="firebaseCaracterist2">
            <ul>

                <li><strong>Escalabilidad:</strong> Ya sea que tengas un sitio web pequeño o uno grande, Firebase se
                    adapta
                    a tus necesidades. Escala tu sitio web sin problemas a medida que crece tu audiencia.</li>
                <li><strong>Rendimiento:</strong> Firebase se destaca por su rendimiento de alta velocidad y
                    disponibilidad.
                    Tus sitios web se cargarán rápidamente y estarán disponibles para tus clientes en todo momento.</li>
                <li><strong>Análisis y Seguimiento:</strong> Firebase ofrece herramientas poderosas de análisis y
                    seguimiento que te ayudan a comprender el comportamiento de tus visitantes.</li>
                <li><strong>Despliegue Continuo:</strong> Implementa actualizaciones y mejoras en tus sitios web de
                    manera
                    rápida y segura con las capacidades de despliegue continuo de Firebase.</li>
            </ul>
        </div>

    </div>

</div>