<div class="component-container">
    <div class="image-overlay"></div>
    <video autoplay muted loop id="video-background">
        <source
            src="https://firebasestorage.googleapis.com/v0/b/productos-4a18e.appspot.com/o/vista%2Fvideo%2Fcar_-_37692%20(1080p).mp4?alt=media&token=4910ddcc-bb30-40cf-8706-d5394aaa3606"
            type="video/mp4">
        <p>Tu navegador no soporta el elemento de video.</p>
    </video>
    <div class="text">
        <div class="carousel slide" id="carousel" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <h1>Quienes somos :</h1>
                    <p class="lh-base">Somos un equipo apasionado de creativos y profesionales tecnológicos que se
                        dedican a dar vida a tus ideas en línea. Con años de experiencia en diseño web, desarrollo y
                        marketing digital, hemos reunido nuestras habilidades para ofrecerte soluciones digitales
                        excepcionales. Nuestra dedicación a la innovación y la excelencia nos impulsa a crear páginas
                        web que no solo son visualmente atractivas, sino también funcionales y efectivas para tu
                        negocio. Nos enorgullecemos de convertir tus visiones en realidad en el mundo virtual.</p>
                </div>
                <div class="carousel-item">
                    <h1>Misión:</h1>
                    <p class="lh-base">Nuestra misión es empoderar a emprendedores y empresas al proporcionarles
                        presencia en línea de alta calidad. Creemos en la importancia de una presencia web sólida en el
                        éxito moderno de cualquier negocio. Nos esforzamos por ofrecer soluciones web personalizadas y
                        asequibles que reflejen la esencia única de cada cliente. Al hacerlo, buscamos no solo
                        satisfacer las necesidades actuales, sino también sentar las bases para el crecimiento futuro,
                        brindando herramientas digitales que impulsen la expansión y el alcance de nuestros clientes.
                    </p>
                </div>
                <div class="carousel-item">
                    <h1>Visión:</h1>
                    <p class="lh-base">Nuestra visión es ser reconocidos como líderes en la creación de experiencias web
                        impactantes y funcionales. Aspiramos a ser la elección preferida para aquellos que buscan
                        establecer una presencia en línea distintiva y efectiva. Buscamos continuar innovando, adoptando
                        las últimas tecnologías y tendencias, para brindar a nuestros clientes soluciones vanguardistas
                        que les ayuden a destacar en un mundo digital en constante evolución. A medida que avanzamos,
                        esperamos seguir construyendo relaciones sólidas con nuestros clientes, basadas en la confianza
                        mutua y el éxito compartido.</p>
                </div>
            </div>
        </div>
    </div>
</div>